 <div class="container">
 <div class="row d-flex align-items-center mx-auto my-auto justify-content-center">
  <div class="col-md-9 shadow p-3 mb-5 bg-white rounded">

    <div class="container-fluid">
      <div class="row d-flex mx-auto my-auto justify-content-center">
        <h2 class="p-3 my-3 mb-0">
          ユーザー編集
        </h2>
      </div>
    </div>

  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-9 mx-auto my-3 py-3">
        <%= form_with model: @user, url: user_path(@user), local:true do |f| %>

      <div class="row mb-2 justify-content-center">
        <div class="my-box col-md-9">
          <strong><%= f.label :username, "ユーザーネーム" %></strong>
          <%= f.text_field :username, autofocus: true, class: "form-control" %>
        </div>
      </div>

        <div class="row mb-2 justify-content-center">
        <div class="my-box col-md-9">
          <strong><%= f.label :image, "ユーザーの画像" %></strong>
          <%= f.file_field :image, class: "form-control" %>
        </div>
      </div>

        <% if @user.image.attached? %>
      <div class="row mb-2 justify-content-center">
        <div class="my-box col-md-9">
          <strong><%= f.label :image, "（現在の画像）" %></strong></p>
              <%= image_tag @user.image.variant(resize:'100x150') %>
        </div>
      </div>
      <% end %>

        <div class="row mb-2 justify-content-center">
        <div class="my-box col-md-9">
          <strong><%= f.label :profile, "自己紹介" %></strong>
          <%= f.text_area :profile, autofocus: true, class: "form-control" %>
        </div>
      </div>

        <div class="row mb-2 justify-content-center">
        <div class="my-box col-md-9">
          <strong><%= f.label :external_link, "外部リンク" %></strong>
          <%= f.text_field :external_link, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="row m-5 justify-content-center">
        <div class="col-md-6">
        <%= f.submit "編集完了", class: "btn btn-success btn-lg btn-block" %>
        </div>
      </div>

			<% end %>
		</div>
	</div>
</div>

          </div>
  </div>
</div>
          </div>
  </div>
</div>
