

<div class="container">
  <div class="row d-flex mx-auto my-auto justify-content-center">

    <div class="col-md-6 shadow p-3 mb-5 bg-white rounded">

      <h2 class="p-3 my-3 mb-0">
        管理者ログイン
      </h2>

    <%= form_with model: @admin, url: admin_session_path, class: "form-signin", local: true do |f| %>

      <div class="row mb-2 justify-content-center">
        <div class="my-box col-md-6">
          <strong><%= f.label :email %></strong>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "honyarara@howahowa.com" %>
        </div>
      </div>

      <div class="row mb-2 justify-content-center">
        <div class="my-box col-md-6">
          <strong><%= f.label :password %></strong>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <div class="row mb-2 justify-content-center">
        <div class="my-box col-md-6">
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row mt-5 justify-content-center">
        <div class="col-md-6">
          <%= f.submit "Log in", class: "btn btn-success btn-lg btn-block" %>
          <% end %>
        </div>
      </div>


    </div>
  </div>
</div>