<div class="container">
  <div class="row">

    <div class="col-4">
    </div>

    <div class="col-8">
      <div class="list-group mb-5 shadow-sm rounded d-flex">
        <sapn class="list-group-item active">
          みんなのレビュー一覧
        </sapn>

                <div class="container">
                <div class="row card-group">
                   <div class="col d-flex">
          <% @reviews.each do |review| %>



                    <div class="card">

                      <div class="card__imgframe">
                          <%= link_to review_path(review.id) do %>
                            <% if review.image.attached? %>
                              <%= image_tag review.image.variant(resize:'100x150') %>
                              <% else %>
                              <%= image_tag ("no_image.jpg") %>
                            <% end %>
                          <% end %>
                      </div>

                      <div class="card-body">
                        <h5 class="card-title">
                          <%= link_to review_path(review.id) do %>
                            <strong><i class="far fa-flag"></i><span> <%= review.title %></span></strong>
                          <% end %>
                        </h5>
                        <div class="card-text">
                          説明 <%= review.body %>
                          <span><i class="fas fa-user"></i> By <%= review.user.username %> ｜ </span>
                        </div>
                      </div>

                      <div class="card-footer">
                        <small class="text-muted">ショップ <%= link_to review.shop.shopname %></small>
                        <small class="text-muted">投稿日時 <%= review.created_at.strftime('%Y/%m/%d %H:%M') %></small>
                      </div>

                    </div>



          <% end %>
                      </div>    </div>
            </div>
          <div class="container d-flex justify-content-center">
            <%= paginate @reviews %>
          </div>
      </div>
    </div>

  </div>
</div>

