reviews show
<div class="container">
  <div class="row">

    <div class="col-4">
    </div>

    <div class="col-8">

      <div class="list-group mb-5 shadow-sm rounded d-flex">
        <sapn class="list-group-item active">
          レビュー詳細
        </sapn>

        <div class="container">
             <div class="align-items-center">
               
               
               <div class="row m-2 justify-content-center">
     
                  <% if @review.image.attached? %>
                    <%= image_tag @review.image.variant(resize:'200x200') %>
                    <% else %>
                    <%= image_tag ("no_image.jpg") %>
                  <% end %>
                 </div>

            <div class="row mb-2 justify-content-center">
              <div class="my-box col-md-4">
                <span>評価</span>
                </div>
            <div class="my-box col-md-8">
                        <span id="star-rate-<%= @review.id %>"></span>
                        <script>
                          $('#star-rate-<%= @review.id %>').raty({
                            size: 10,
                            half: true,
                            readOnly: true,
                            score: <%= @review.evaluation %>,
                          });
                        </script>
                <%= @review.evaluation %>
                
                
                 </div>
                 </div>
                 </div>

              <div class="row mb-2 justify-content-center">
                <div class="my-box col-md-4">タイトル
                </div>
                <div class="my-box col-md-8"><%= @review.title %>
                </div>
                </div>
                
                      <div class="row mb-2 justify-content-center ">
                <div class="my-box col-md-4">本文
                </div>
                <div class="my-box col-md-8"><%= @review.body %>
                </div>
                </div>
                
                      <div class="row mb-2 justify-content-center">
                <div class="my-box col-md-4">店舗
                </div>
                <div class="my-box col-md-8"><%= @review.shop.shopname %>
                </div>
                </div>
                
                <% if user_signed_in? && @review.user.id == current_user.id %>
                <tr>
                  <div class="contact-btn">
                    <td>
                      <%= link_to 'Edit' , edit_review_path(@review.id), class: "btn btn-sm btn-outline-dark" %>
                    </td>
                    <td>
                      <%= link_to 'delete' , review_path(@review.id), method: :delete, data:{confirm:'削除しますか？'}, class: "btn btn-sm btn-outline-dark" %>
		                </td>
		              </div>
		            </tr>
                <% end %>
   
        </div>
        </div>


      </div>
    </div>

  </div>